<h2 class="title">User list</h2>
<mat-card>
  <mat-list *ngIf="!!users && users.length > 0; else noContent">
    <mat-list-item *ngFor="let user of users" (click)="onEdit(user.login)">
      <div class="container">
        <div class="item"><mat-icon>person</mat-icon></div>
        <div class="item">{{ user.firstname}} </div>
        <div class="item">{{ user.lastname}} </div>
        <div class="item">{{ user.login}} </div>
        <div class="item">{{ user.email}} </div>
        <div class="item">
          <mat-icon (click)="onDelete(user)" color="warn" matTooltip="Click to delete">delete</mat-icon>
        </div>
      </div>
    </mat-list-item>
  </mat-list>

  <ng-template #noContent>
    <div class="no-content">
      Sorry, there's no any user in the database.
      Click &nbsp; <a routerLink="/register"> here </a> &nbsp;to create a new user
    </div>
  </ng-template>
</mat-card>
